.page-order__section-name {
  margin-bottom: 29px;
}

.page-order__description {
  .paragraph();

  margin-bottom: 30px;

  font-size: 13px;
  line-height: 24px;
}

.page-order__form {
  margin-bottom: 55px;
}
