@import "../common/index";

@import "../../blocks/promo/style";
@import "../../blocks/goodsOfWeek/style";
@import "../../blocks/aboutUs/style";
@import "../../blocks/reviews/style";
@import "../../blocks/contacts/style";

.page-main__promo {
  margin-bottom: 34px;
}

.page-main__goods-of-week {
  margin-bottom: 34px;
}

.page-main__reviews {
  margin-bottom: 44px;
}

.page-main__contacts {
  margin-bottom: 39px;
}
