@promo-product-description-color: @white;

.promo-product {
  .block-link();

  padding-left: 29px;

  &--light {
    background-color: @green--light;
  }

  &--dark {
    background-color: @green--dark;
  }
}

.promo-product__wrapper {
  .wrapper(@mobile-width);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.promo-product__description {
  .title();
  .link();

  width: 106px;
  margin: 30px 0;

  color: @promo-product-description-color;
}
