{% block content %}
<nav class="{{ class }} main-nav main-nav--closed main-nav--nojs">
  <ul class="main-nav__list">
    <li class="main-nav__item">
      <a class="main-nav__wrapper" href="catalog.html">
        <span class="main-nav__item-title">Каталог товаров</span>
      </a>
    </li>
    <li class="main-nav__item">
      <a class="main-nav__wrapper" href="form.html">
        <span class="main-nav__item-title">Вязание на заказ</span>
      </a>
    </li>
    <li class="main-nav__item">
      <a class="main-nav__wrapper" href="#">
        <div class="main-nav__item-icon main-nav__item-icon--search">
          {% include '../../img/icon-search.svg' %}
        </div>
        <span class="main-nav__item-title">Поиск по сайту</span>
      </a>
    </li>
    <li class="main-nav__item">
      <div class="main-nav__wrapper">
        {% include '../cartInfo/index.html' with { class: 'main-nav__cart-info' } %}
      </div>
    </li>
  </ul>
</nav>
{% endblock %}
