<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="./css/style.css" rel="stylesheet">

    <title>HTML Academy: Мишка</title>
  </head>
  <body>
    {% include '../blocks/pageHeader/index.html' %}
    <main class="page-order page">
      {% include '../blocks/sectionName/index.html' with {
          class: 'page-order__section-name',
          name: 'Вязание на заказ'
        }
      %}
      <div class="page__wrapper">
        <p class="page-order__description">
          Мы будем рады воплотить в жизнь ваши пожелания! Заполните простую форму заказа
          и мы свяжемся с вами, чтобы уточнить детали.
        </p>
        {% include '../blocks/orderForm/index.html' with { class: 'page-order__form' } %}
      </div>
    </main>
    {% include '../blocks/pageFooter/index.html' %}
  </body>
</html>
