<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="./css/index.css" rel="stylesheet">

    <title>HTML Academy: Мишка</title>
  </head>
  <body>
    {% include '../blocks/pageHeader/index.html' %}
    <main class="page page-main">
      {% include '../blocks/promo/index.html' with {
          class: 'page-main__promo page__section page__section--no-padding'
        }
      %}
      <div class="page__wrapper">
        {% include '../blocks/goodsOfWeek/index.html' with {
            class: 'page-main__goods-of-week page__section page__section--decoration-underscore'
          }
        %}
        {% include '../blocks/aboutUs/index.html' with {
            class: 'page-main__about-us page__section'
          }
        %}
        {% include '../blocks/reviews/index.html' with {
            class: 'page-main__reviews page__section page__section--decoration-underscore'
          }
        %}
        {% include '../blocks/contacts/index.html' with {
            class: 'page-main__contacts page__section'
          }
        %}
      </div>
    </main>
    {% include '../blocks/pageFooter/index.html' %}
  </body>
</html>
