{% block content %}
<div class="product">
  <a class="product__image-container" href="{{ link }}">
    <picture>
        <source srcset="{{ srcDesktopImage }}" media="(min-width: {{ screenResolution.desktopWidth }})">
      <source srcset="{{ srcTabletImage }}" media="(min-width: {{ screenResolution.tabletWidth }})">
      <img
        class="product__image"
        src="{{ srcMobileImage }}"
        width="250"
        height="165"
        alt="{{ name }}"
      >
    </picture>
  </a>
  <div class="product__info-container">
    <div class="product__description">
      <a class="product__name" href="{{ link }}">{{ name }}</a>
      <span class="product__parameters">{{ parameters }}</span>
    </div>
    <div class="product__about-order">
      <span class="product__price">{{ price }} руб.</span>
      {% include '../cartAddButton/index.html' with { class: 'product__cart-add-button' } %}
    </div>
  </div>
</div>
{% endblock %}
