body {
  font-family: @default-font;
  font-size: @main-font-size;
  font-weight: @main-font-weight;
  color: @main-font-color;
  line-height: @main-line-height;

  background-color: @body-background;
}
