.default-button() {
  border: none;
  background-color: transparent;
  outline: none;
  padding: 0;
}

.link() {
  text-decoration: none;
  color: inherit;
}

.block-link() {
  display: block;

  .link();
}

.list() {
  padding-left: 0;
  margin: 0;

  list-style: none;
}

.paragraph() {
  margin: 0;
}

.title() {
  margin: 0;

  font-weight: @title-font-weight;
  color: @main-font-title-color;
  text-decoration: none;
}

.main-title() {
  .title();

  font-size: @main-title-font-size--mobile;
  line-height: @main-title-line-height--mobile;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: @main-title-font-size--tablet;
    line-height: @main-title-line-height--tablet;
  }

  @media (min-width: @desktop-width) {
    font-size: @main-title-font-size--desktop;
    line-height: @main-title-line-height--desktop;
  }
}

.page-section-title() {
  .title();

  font-size: @section-page-title-font-size--mobile;

  @media (min-width: @tablet-width) {
    font-size: @main-title-font-size--tablet;
  }

  @media (min-width: @desktop-width) {
    font-size: @main-title-font-size--desktop;
    line-height: @main-title-line-height--desktop;
  }
}

.wrapper(@width) {
  box-sizing: border-box;
  width: @width;
  margin: 0 auto;
}

.block-full-screen-width() {
  min-width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
}

.block-no-full-screen-width() {
  min-width: auto;
  margin-left: 0;
  transform: none;
}

.after-underscore-line(@heigth, @side-padding, @margin-top) {
  content: "";
  position: absolute;

  width: calc(100% + @side-padding * 2);
  height: @heigth;
  left: -@side-padding;
  bottom: -(@margin-top + @heigth);

  background-image: url("../img/bg-zigzag-line.svg");
  background-size: contain;
}

.after-underscore-line--fill(@heigth) {
  content: "";
  position: absolute;

  width: 100%;
  height: @heigth;
  bottom: calc(-@heigth / 2);

  background-image: url("../img/bg-zigzag-fill.svg");
  background-size: contain;
}

.full-background-image() {
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.interaction-opacity() {
  transition: opacity 0.2s ease;

  @media (min-width: @tablet-width) {
    &:hover {
      opacity: 0.7;
    }
  }

  &:focus {
    opacity: 0.3;
  }
}

.icon-interaction() {
  cursor: pointer;

  svg {
    transition: fill 0.2s ease;
  }

  @media (min-width: @tablet-width) {
    &:hover {
      svg {
        fill: @icon-color--green;
      }
    }
  }

  &:focus {
    svg {
      fill: fade(@icon-color--green, 50%);
    }
  }
}

.retina-background-image(@url-background) {
  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url(@url-background);
  }
}
