{% block content %}
<header class="{{ class }} page-header">
  <div class="page-header__base-content-container">
    <div class="page-header__wrapper">
      <div class="page-header__content-container page-header__content-container--left">
        <a class="page-header__section-link" href="/651491-mishka/6/catalog.html">Каталог товаров</a>
        <a class="page-header__section-link" href="/651491-mishka/6/form.html">Вязание на заказ</a>
      </div>
      <div class="page-header__logo-container">
        <a class="page-header__logo" href="/651491-mishka/6/index.html">Мишка</a>
      </div>
      <div class="page-header__content-container page-header__content-container--right">
        <a class="page-header__search-button" href="#">
          {% include '../../img/icon-search.svg' %}
        </a>
        {% include '../cartInfo/index.html' with { class: 'page-header__cart-info' } %}
      </div>
      {% include '../hamburgerButton/index.html' with { class: 'page-header__menu-button' } %}
    </div>
  </div>
  <div class="page-header__optional-content-container">
    <div class="page-header__optional-content page-header__optional-content--main">
      <a class="page-header__optional-link" href="/651491-mishka/6/catalog.html">Новые поступления</a>
      <a class="page-header__optional-link page-header__optional-link--right" href="/651491-mishka/6/catalog.html">Распродажа</a>
    </div>
    <div class="page-header__optional-content page-header__optional-content--no-main">
      <a class="page-header__optional-link" href="/651491-mishka/6/catalog.html">Каталог товаров</a>
      <a class="page-header__optional-link page-header__optional-link--right" href="/651491-mishka/6/form.html">Вязание на заказ</a>
    </div>
    <a class="page-header__delivery" href="/651491-mishka/6/form.html">Бесплатная доставка по России</a>
  </div>
</header>
{% endblock %}
