@page-header-tablet-height: 88px;

.page-header__wrapper {
  .wrapper(@mobile-width);

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 22px @mobile-page-side-padding;
}

.page-header__logo {
  .block-link();
  .interaction-opacity();

  width: 86px;
  height: 35px;
  margin-left: 86px;
  margin-right: 67px;

  color: transparent;

  background-image: url("../img/logo-mobile.svg");
  background-size: 100% 100%;
}

@media (min-width: @tablet-width) {
  .page-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .page-header__content-container {
    height: 100%;

    border-bottom: 1px solid @grey--light;
  }

  .page-header__wrapper {
    .wrapper(@tablet-width);

    justify-content: flex-start;

    padding: 0 @tablet-page-side-padding;

    height: @page-header-tablet-height;
  }

  .page-header__logo {
    width: 112px;
    height: 46px;
    margin: 0;

    background-image: url("../img/logo-tablet.svg");
  }

  .page-header__menu-button {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .page-header__wrapper {
    .wrapper(@desktop-width);

    justify-content: center;

    padding: 0 @desktop-page-side-padding;
  }

  .page-header__logo {
    width: 149px;
    height: 72px;

    background-image: url("../img/logo-desktop.svg");
  }
}
