@import "../hamburgerButton/style";

.page-header {
  padding: 22px 30px;

  box-shadow: 0 1px 0 0 @grey--light, inset 0 1px 0 0 @grey--light;
}

.page-header__logo {
  display: block;
  width: 86px;
  height: 35px;

  color: transparent;

  background-image: url("../../img/logo-mobile.svg");
}
