{% block content %}
<form
  class="{{ class }} order-form"
  action="https://echo.htmlacademy.ru"
  method="POST"
>
  <section class="order-form__fieldset order-form__wrapper order-form__fieldset--type-radio">
    <h3 class="order-form__legend">Тип</h3>
    <label class="order-form__label-container">
      <input class="order-form__radio-button" type="radio" name="type" checked>
      <span class="order-form__custom-radio-button"></span>
      <span class="order-form__label">Аксессуар для интерьера</span>
    </label>
    <label class="order-form__label-container">
      <input class="order-form__radio-button" type="radio" name="type">
      <span class="order-form__custom-radio-button"></span>
      <span class="order-form__label">Детская игрушка</span>
    </label>
  </section>
  <section class="order-form__fieldset order-form__fieldset--grey order-form__fieldset--type-checkbox">
    <div class="order-form__wrapper">
      <h3 class="order-form__legend">Цвет</h3>
      <label class="order-form__label-container">
        <input class="order-form__checkbox" type="checkbox" name="color" checked>
        <span class="order-form__custom-checkbox"></span>
        <span class="order-form__label">Белый</span>
      </label>
      <label class="order-form__label-container">
        <input class="order-form__checkbox" type="checkbox" name="color" checked>
        <span class="order-form__custom-checkbox"></span>
        <span class="order-form__label">Серый</span>
      </label>
      <label class="order-form__label-container">
        <input class="order-form__checkbox" type="checkbox" name="color">
        <span class="order-form__custom-checkbox"></span>
        <span class="order-form__label">«Тиффани»</span>
      </label>
      <label class="order-form__label-container">
        <input class="order-form__checkbox" type="checkbox" name="color">
        <span class="order-form__custom-checkbox"></span>
        <span class="order-form__label">Черный</span>
      </label>
      <label class="order-form__label-container">
        <input class="order-form__checkbox" type="checkbox" name="color">
        <span class="order-form__custom-checkbox"></span>
        <span class="order-form__label">Розовый</span>
      </label>
      <label class="order-form__label-container">
        <input class="order-form__checkbox" type="checkbox" name="color">
        <span class="order-form__custom-checkbox"></span>
        <span class="order-form__label">Оранжевый</span>
      </label>
    </div>
  </section>
  <section class="order-form__fieldset order-form__wrapper order-form__fieldset--type-text">
    <h3 class="order-form__legend">ФИО</h3>
    <label class="order-form__text-label-container">
      <span class="order-form__text-label">Имя:</span>
      <input
        class="order-form__text-input"
        type="text"
        name="name"
        placeholder="Введите ваше имя&#42;"
        required
      >
    </label>
    <label class="order-form__text-label-container">
      <span class="order-form__text-label">Фамилия:</span>
      <input
        class="order-form__text-input"
        type="text"
        name="surname"
        placeholder="Укажите фимилию&#42;"
        required
      >
    </label>
    <label class="order-form__text-label-container">
      <span class="order-form__text-label">Отчество:</span>
      <input
        class="order-form__text-input"
        type="text"
        name="surname"
        placeholder="Отчество, если желаете"
      >
    </label>
  </section>
  <div class="order-form__fieldset--grey">
    <div class="order-form__wrapper order-form__wrapper-contact">
      <section class="order-form__fieldset order-form__fieldset--type-contact order-form__fieldset--phone">
        <h3 class="order-form__legend order-form__legend--single">ТЕЛ</h3>
        <div class="order-form__contact-input-container">
          <input
            class="order-form__text-input order-form__text-input--phone"
            type="tel"
            name="phone"
            placeholder="+7 ХХХ ХХХ ХХ ХХ&#42;"
            required
          >
          <div class="order-form__contact-input-icon order-form__contact-input-icon--phone">
            {% include '../../img/icon-phone.svg' %}
          </div>
        </div>
      </section>
      <section class="order-form__fieldset order-form__fieldset--type-contact">
        <h3 class="order-form__legend order-form__legend--single">E-MAIL</h3>
        <div class="order-form__contact-input-container">
          <input
            class="order-form__text-input"
            type="email"
            name="email"
            placeholder="Ваш Email&#42;"
            required
          >
          <div class="order-form__contact-input-icon order-form__contact-input-icon--email">
            {% include '../../img/icon-mail.svg' %}
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="order-form__footer order-form__wrapper">
    <section class="order-form__additionally order-form__fieldset">
      <h3 class="order-form__legend">ДОП</h3>
      <textarea
        class="order-form__text-area"
        name="additionally"
        placeholder="Опишите все ваши пожелания к заказу"
      ></textarea>
    </section>
    <p class="order-form__note">&#42;Поля обязательны для заполнения</p>
    <button class="order-form__submit-button button-base" type="submit">
      отправить заказ
    </button>
  </div>
</form>
{% endblock %}
