.contacts__header {
  margin-bottom: 42px;
}

.contacts__title {
  .page-section-title();

  font-size: 18px;
}

.contacts__flag-image {
  display: none;
}

.contacts__info {
  margin-bottom: 42px;
}

.contacts__maps {
  .block-full-screen-width();

  height: 457px;
  margin-bottom: 39px;

  background-image: url("../img/map-mobile@1x.jpg");
}

.contacts__feedback-button {
  .block-link();
}

@media (min-width: @tablet-width) {
  .contacts__header {
    display: flex;
    justify-content: space-between;

    height: 81px;
  }

  .contacts__title {
    display: flex;
    align-items: center;
  }

  .contacts__flag-image {
    display: block;

    width: 47px;
  }

  .contacts__info-container {
    display: flex;
  }

  .contacts__maps {
    margin-bottom: 55px;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    position: relative;

    padding-right: 578px;
  }

  .contacts__header {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  .contacts__content {
    padding-left: @desktop-section-left-padding;
  }

  .contacts__info-container {
    flex-direction: column;

    margin-bottom: 84px;
  }

  .contacts__maps {
    .block-no-full-screen-width();

    position: absolute;

    width: 525px;
    height: 100%;
    top: 0;
    right: 0;
  }
}
