@contacts-mail-interaction: #46c1ae;

.contacts__header {
  margin-bottom: 42px;
}

.contacts__title {
  .page-section-title();

  font-size: 18px;
}

.contacts__flag-image {
  display: none;
}

.contacts__info {
  margin-bottom: 42px;
}

.contact-info__email {
  .link();

  transition: color 0.1s ease;

  &::after {
    content: "";

    display: block;
    width: 100%;
    height: 1px;

    background-color: @green--light;
  }

  &:focus {
    color: @contacts-mail-interaction;

    opacity: 0.3;

    &::after {
      background-color: @contacts-mail-interaction;

      opacity: 0.3;
    }
  }
}

.contact-info__address {
  max-width: 160px;
}

.contacts__maps {
  .block-full-screen-width();

  height: 457px;
  margin-bottom: 39px;
}

.contacts__feedback-button {
  .block-link();

  display: flex;
}

@media (min-width: @tablet-width) {
  .contacts__header {
    display: flex;
    justify-content: space-between;
  }

  .contacts__title {
    display: flex;
    align-items: center;
  }

  .contacts__flag-image {
    display: block;

    width: 47px;
    height: 81px;
  }

  .contacts__info {
    &:first-child {
      margin-right: 55px;
    }
  }

  .contact-info__email:hover {
    color: @contacts-mail-interaction;

    &::after {
      background-color: @contacts-mail-interaction;
    }
  }

  .contacts__info-container {
    display: flex;
  }

  .contacts__maps {
    margin-bottom: 55px;
  }

  .contacts__feedback-button {
    width: 230px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .contacts__header {
    flex-direction: row-reverse;
    justify-content: flex-end;

    padding-left: 65px;
    margin-bottom: 0;
  }

  .contacts__flag-image {
    margin-right: 64px;
  }

  .contacts__content {
    display: flex;
    flex-direction: column;

    padding-left: @desktop-section-left-padding;
  }

  .contacts__info-container {
    flex-direction: column;
    order: 1;

    margin-bottom: 84px;
  }

  .contacts__feedback-button {
    order: 2;

    box-sizing: border-box;
    width: 230px;
  }

  .contacts__maps {
    .block-no-full-screen-width();

    order: 3;

    min-width: 525px;
    width: 525px;
    height: 457px;
    margin: -457px 0 0 auto;
  }
}
