.reviews__title {
  .page-section-title();

  margin-bottom: 38px;
}

.reviews__content-text {
  .paragraph();

  padding-right: 5px;
  margin-bottom: 40px;
}

.reviews__reviewer-info {
  margin-bottom: 36px;

  font-size: 17px;
}

.reviews__reviewer-name {
  font-weight: bold;
}

.reviews__reviewer-nick-name {
  line-height: 30px;
}

.reviews__switch {
  display: flex;

  margin-bottom: 38px;
}

.reviews__switch-button {
  width: 50%;
  height: 52px;

  border: 1px solid @grey--light;
}

.reviews__add-button {
  .block-link();
}
