{% set advantages = [
    {
      svgImage: '../../img/icon-feature-flower.svg',
      description: 'Экологически чистые материалы'
    },
    {
      svgImage: '../../img/icon-feature-money.svg',
      description: 'Скандинавский стиль по российской цене'
    },
    {
      svgImage: '../../img/icon-feature-heart.svg',
      description: 'Увеличивает лайки на фотографиях'
    },
    {
      svgImage: '../../img/icon-feature-ball.svg',
      description: 'Связано вручную с любовью и умилением'
    },
    {
      svgImage: '../../img/icon-feature-rocket.svg',
      description: 'Поддержка отечественного производителя'
    },
    {
      svgImage: '../../img/icon-feature-gift.svg',
      description: 'Поставляется в подарочной упаковке'
    }
  ]
%}
{% block content %}
<section class="{{ class }} about-us">
  <h2 class="about-us__title">Коротко о нас:</h2>
  {% include '../advantages/index.html' with { advantages: advantages, className: 'about-us__advantages' } %}
</section>
{% endblock %}
