.contact-info {
  display: flex;

  line-height: 30px;
}

.contact-info__title {
  margin-right: 30px;
}

.contact-info__address {
  font-style: normal;
}

@media (min-width: @tablet-width) {
  .contact-info__title {
    min-width: 50px;
    margin-right: 28px;
  }

  .contact-info__address {
    max-width: 221px;
  }
}
