@goods-of-week-price-font-weight: bold;

.goods-of-week__header {
  margin-bottom: 30px;
}

.goods-of-week__product-name {
  .page-section-title();

  margin-bottom: 8px;
}

.goods-of-week__title {
  .title();

  font-size: 17px;
  text-transform: uppercase;
  color: @green--light;
}

.goods-of-week__description {
  margin: 0 0 30px 0;
}

.goods-of-week__parameters-list {
  .list();

  margin-bottom: 28px;
}

.goods-of-week__parameter {
  padding: 11px 0;

  border-bottom: 1px solid @grey--light;
}

.goods-of-week__product-image {
  width: 260px;
  margin-bottom: 29px;
}

.goods-of-week__price {
  display: block;
  margin-bottom: 28px;

  text-align: center;
  font-size: 17px;
  font-weight: @goods-of-week-price-font-weight;
}

.goods-of-week__to-order-button {
  .block-link();

  display: flex;
}

@media (min-width: @tablet-width) {
  .goods-of-week {
    min-height: 500px;
  }

  .goods-of-week__header {
    display: flex;
    justify-content: space-between;

    margin-bottom: 55px;
  }

  .goods-of-week__content {
    display: flex;
    flex-direction: column;
  }

  .goods-of-week__description {
    order: 1;

    max-width: 291px;
    margin-bottom: 54px;
  }

  .goods-of-week__parameters-list,
  .goods-of-week__price,
  .goods-of-week__to-order-button {
    width: 291px;
  }

  .goods-of-week__parameters-list {
    order: 2;

    margin-bottom: 59px;
  }

  .goods-of-week__parameter {
    padding: 13px 0;
  }

  .goods-of-week__price {
    order: 3;

    margin-bottom: 34px;
  }

  .goods-of-week__to-order-button {
    order: 4;

    box-sizing: border-box;
  }

  .goods-of-week__product-image {
    order: 5;

    width: 333px;
    margin: -404px 0 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .goods-of-week__header {
    flex-direction: row-reverse;
    justify-content: flex-end;

    margin-bottom: 52px;
  }

  .goods-of-week__content {
    padding-left: @desktop-section-left-padding;
  }

  .goods-of-week__parameter {
    padding: 15px 0;
  }

  .goods-of-week__product-image {
    z-index: -1;

    width: 525px;
    margin-top: -636px;
  }
}
