@goods-of-week-price-font-weight: bold;

.goods-of-week__header {
  margin-bottom: 34px;
}

.goods-of-week__product-name {
  .title();

  font-size: @section-page-title-font-size;
}

.goods-of-week__title {
  .title();

  text-transform: uppercase;
  color: @green--light;
}

.goods-of-week__description {
  margin: 0 0 33px 0;
}

.goods-of-week__parameters-list {
  .list();

  margin: 0 0 28px 0;
}

.goods-of-week__parameter {
  padding: 11px 0;

  border-bottom: 1px solid @grey--light;
}

.goods-of-week__product-image {
  width: 260px;
  height: 315px;
  margin-bottom: 29px;
}

.goods-of-week__price {
  display: block;
  margin-bottom: 28px;

  text-align: center;
  font-size: 17px;
  font-weight: @goods-of-week-price-font-weight;
}

.goods-of-week__to-order-button {
  .block-link();
}
