@goods-of-week-price-font-weight: bold;

.goods-of-week__header {
  margin-bottom: 34px;
}

.goods-of-week__product-name {
  .title();

  font-size: @section-page-title-font-size;
}

.goods-of-week__title {
  .title();

  text-transform: uppercase;
  color: @green--light;
}

.goods-of-week__description {
  margin: 0 0 33px 0;
}

.goods-of-week__parameters-list {
  .list();

  margin: 0 0 28px 0;
}

.goods-of-week__parameter {
  padding: 11px 0;

  border-bottom: 1px solid @grey--light;
}

.goods-of-week__product-image {
  width: 260px;
  height: 315px;
  margin-bottom: 29px;
}

.goods-of-week__price {
  display: block;
  margin-bottom: 28px;

  text-align: center;
  font-size: 17px;
  font-weight: @goods-of-week-price-font-weight;
}

.goods-of-week__to-order-button {
  .block-link();
}

@media (min-width: @tablet-width) {
  .goods-of-week__header {
    display: flex;
    justify-content: space-between;

    margin-bottom: 55px;
  }

  .goods-of-week__content {
    position: relative;

    padding-right: 376px;
  }

  .goods-of-week__description {
    margin-bottom: 54px;
  }

  .goods-of-week__parameters-list {
    margin-bottom: 59px;
  }

  .goods-of-week__parameter {
    padding: 13px 0;
  }

  .goods-of-week__product-image {
    position: absolute;

    top: 0;
    right: 0;
    width: 333px;
    height: 100%;
  }

  .goods-of-week__price {
    margin-bottom: 34px;
  }
}

@media (min-width: @desktop-width) {
  .goods-of-week__header {
    flex-direction: row-reverse;
    justify-content: flex-end;

    margin-bottom: 52px;
  }

  .goods-of-week__content {
    padding: 0 583px 0 @desktop-section-left-padding;
  }

  .goods-of-week__product-image {
    z-index: -1;

    top: -163px;
    width: 525px;
    height: calc(100% + 163px);
  }
}
