{% block content %}
<ul class="{{ className }} advantages">
  {% for advantage in advantages %}
    <li class="advantages__item">
        <svg
          class="advantages__image"
          width="{{ advantage.width }}"
          height="{{ advantage.height }}"
          role="presentation"
        >
          <title>{{ advantage.description }}</title>
          <use xlink:href="#{{ advantage.svgImage }}"></use>
        </svg>
        <p class="advantages__description">
          {{ advantage.description }}
        </p>
    </li>
  {% endfor %}
</ul>
{% endblock %}
