@advantages-description-font-weight: bold;

.advantages,
.advantages__part-list {
  .list();
}

.advantages__item {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.advantages__part-list-container {
  &:first-child {
    margin-bottom: 30px;
  }
}

.advantages__image {
  margin-bottom: 20px;
}

.advantages__description {
  .paragraph();

  font-size: 17px;
  font-weight: @advantages-description-font-weight;
}

@media (min-width: @tablet-width) {
  .advantages {
    display: flex;
  }

  .advantages__part-list-container {
    &:first-child {
      margin-right: 99px;
    }
  }
}
