.advantages {
  .list();
}

.advantages__item {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.advantages__image {
  margin-bottom: 20px;
}

.advantages__description {
  .paragraph();

  font-size: 17px;
}
