{% set promoProducts = [
    {
      mod: 'light',
      srcImage: './img/icon-interior.svg',
      description: 'Предметы интерьера'
    },
    {
      mod: 'dark',
      srcImage: './img/icon-toy.svg',
      description: 'Детские игрушки'
    }
  ]
%}
{% block content %}
<section class="{{ class }} promo">
  <div class="promo__wrapper">
    <h1 class="promo__title">Милые штучки ручной работы</h2>
    <div class="promo__products-container">
      {% for promoProduct in promoProducts %}
      {% include '../promoProduct/index.html' with {
          class: 'promo__product',
          mod: promoProduct.mod,
          description: promoProduct.description,
          srcImage: promoProduct.srcImage
        }
      %}
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
