@import "../promoProduct/style";

@promo-title-color: #010000;

.promo {
  padding-top: 76px;
  background-image: url("../img/hero-mobile@1x.jpg");
}

.promo__title {
  .main-title();

  padding: 0 39px;
  margin-bottom: 120px;

  color: @promo-title-color;
}
