.production-process {
  border: 1px solid @grey--light;
}

.production-process__title {
  .title();

  height: 96px;

  font-size: 17px;
}

.production-process__video {
  height: 150px;
  width: 100%;

  background-image: url("../img/video-mobile@1x.jpg");
}

.production-process__content {
  padding: 34px 34px 33px;
}

.production-process__description {
  .paragraph();

  margin-bottom: 29px;

  font-size: 13px;
  line-height: 24px;
}

.production-process__to-order-button {
  .block-link();
}
