.cart-info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.cart-info__cart-add-button {
  margin-right: 31px;
}

.cart-info__content {
  display: block;

  font-size: 17px;
  font-weight: bold;
}
