.section-name {
  padding: 76px 0;
  background-color: @section-name-background;
}

.section-name__wrapper {
  .wrapper(@mobile-width);
}

.section-name__title {
  .main-title();

  display: block;
}
